<!DOCTYPE html> 
<html>

<head>
</head>

<body>

	<!-- 注意：最外层标签的class要写在引用的html标签中 -->

	<!-- 页面头部 -->
	<!-- Brand and toggle get grouped for better mobile display -->
    <div th:fragment="header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="#" th:text="${beauty}">Brand</a>
     </div>
   
</body>
</html>










