<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>菜单</title>

<style>
.div
{
	font-size:0;
	position:relative;
}
</style>

</head>
<body style="margin:0 0 0 0;">
<div style="position:absolute;top:186px;left:23%;">
   文件系统
</div>
<div style="position:absolute;top:186px;left:73%;">
   小小刷子
</div>
<div style="position:absolute;top:586px;left:23%;">
   键盘鼠标
</div>

<div class="div">
	<a href="/collect" target="_blank"><img width="50%" height="400" style="background-color:rgba(12,141,234,.38);" /></a>
	<a href="/brush" target="_blank"><img width="50%" height="400" style="background-color:rgba(110,60,20,.38);" /></a>
	<a href="/io" target="_blank"><img width="50%" height="400" style="background-color:rgba(210,70,103,.38);" /></a>
</div>

<script src="/bootstrap-3.3.7-dist/js/jquery.min.js"></script>
<script>
		$('img').each(function(){
		   var r = Math.floor(Math.random()*(256));
		   var g = Math.floor(Math.random()*(256));
		   var b = Math.floor(Math.random()*(256));
		   var rgba = 'rgba('+r+','+g+','+b+',1)';
	　　　　$(this).css("background-color",rgba);
		   $(this).fadeTo('slow',0.38);
	　　});
		
</script>
</body>
</html>
